html * {
   font-family: 'Segoe UI' !important;
}

.authorization-header {
  font-size: 1.25em;
  color: #005E6A;

}

.label-for-input {
    display: inline-block;
    font-size: 0.75em;
    margin: 10px 0px 0px 0px;
  }

.simple-input {
    font-size: 0.75em;
    margin: 5px 0px 0px 0px;
    padding: 5px 2px 5px 4px;
    border-radius:0px;
    -webkit-border-radius: 0px;
  }

.submit-as-link {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;    
  }

.submit-as-link:hover {
    text-decoration: underline;
}